{% load staticfiles %}
<html>
    <head>
    <meta charset="utf-8">
        <title>cynthia chepkemoi's blog</title>
         <link rel="stylesheet" href="{% static 'css/style.css' %}">
         <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
         <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
         <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    </head>
    <body>
   <body>
     <div class=" background row expanded">
     <div class="row expanded">
      <div class="page-header">
    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>

        <h1><a href="/">Cynthia's Blog</a></h1>
    </div></div>
     <div class="large-12 columns">
     <div class="large-2 columns"><br></div>
       <div class="large-8 columns">
        <div class="large-12 columns height"></div>
       
        <h1><a href="/"><p class="font">Technology makes the world a new place</p></a></h1>
       
         <div class="large-12 columns height"></div>
          <div class="large-12 columns height"></div>
           <div class="large-12 columns height"></div>
            
            <br></div>
              <div class="large-2 columns"><br></div>
    </div></div>
    <div class="content container">
        <div class="row">
            <div class="small-12 columns">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
    </body>
</html>